#menu {
    width: 100%;
    height: 50px;
    background-color: rgba(3, 0, 36);
    color: white;
}

#navmain {
    height: 100%;
}

.ulmain {
    height: 100%;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
}

.ulmain li {
    display: inline-block;
    margin-right: 30px;
    list-style-type: none;
}

.ulmain a {
    color: white;
    cursor: pointer;
}

.ulmain a:hover {
    color: rgb(188, 223, 214);
    cursor: pointer;
    text-decoration: none;
}