<div class="">
    <div class="inf-window-title">
        <div class="inf-window-title-store">
            <div class="inf-window-title-store-text">
                <h5>Profil</h5>
            </div>
        </div>
    </div>
    <div class="container obr">
        <div class="row">
            <div class="col-6">
                <div class="danapacjenta form-control">
                    Imię
                </div>
            </div>
            <div class="col-6 ">
                <div class="wynpacjenta form-control">
                    {{user.name}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="danapacjenta form-control">
                    Nazwisko
                </div>
            </div>
            <div class="col-6">
                <div class="wynpacjenta form-control">
                    {{user.surname}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                <div class="danapacjenta form-control">
                    Pesel
                </div>
            </div>
            <div class="col-6">
                <div class="wynpacjenta form-control">
                    {{user.pesel}}
                </div>
            </div>
        </div>
    </div>
</div>